* {
    font-size: 12px;
    font-family: 'Ubuntu', sans-serif;
}


.imagen_logo {
    width: 150px;
}

.contenedor_nav {
    background-color: #171717 !important;
}

.contenedor_nav_footer {
    background-color: #1e1d1d9e !important;
    padding: 20px 0 20px 0;
    border-top: 3px solid #938f8f67;
}

.nav-link {
    font-size: 1.5rem !important;
}

.contenedor-grid-productos {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        "prod-1 prod-1 prod-2 prod-2"
        "prod-1 prod-1 prod-2 prod-2"
        "prod-3 prod-3 prod-4 prod-4"
        "prod-3 prod-3 prod-4 prod-4"
    ;
    justify-items: center;
    gap: 10px;
    background-image: url('../assets/imagenes/mostrador-pasteleria2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.producto-uno {
    grid-area: prod-1;
    background-color: #383434b8;
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.producto-dos {
    grid-area: prod-2;
    background-color: #383434b8;
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.producto-tres {
    grid-area: prod-3;
    background-color: #383434b8;
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.producto-cuatro {
    grid-area: prod-4;
    background-color: #383434b8;
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.card-productos {
    width: 270px;
    border-radius: 10px;
}

.productos-home {
    width: 250px;
    border-radius: 30px;
}

.titulo-producto {
    font-size: 2rem;
    font-weight: 700;
}

.titulo-contacto {
    font-size: 1.5rem;
    font-weight: 700;
}

.btn-secondary {
    margin-top: 10px;
}

.img-descripcion-productos {
    height: 60%;
    width: 400px;
    border: #fff solid;
    border-radius: 10px;
}

.p-descrispion-productos {
    font-size: 2.5rem;
    margin: 10px 20px 10px 20px;
    color: grey;
}

.contenedor-descripcion {
    margin: 20px 0 20px 0;
}


.articulo-producto {
    height: auto;
}


.p-titulo {
    font-size: 2rem;
}

.mapa {
    width: 300px;
    border-radius: 20px;
}

.form {
    width: 300px;
}


.fab {
    font-size: 35px;
    margin: 0 15px 0 15px;
    color: rgb(225, 221, 221);
}

.fa-facebook:hover {
    color: rgb(57, 84, 205);
}

.fa-whatsapp:hover {
    color: rgb(27, 157, 79);
}


.btn-hover:hover {
    background-color: rgba(207, 201, 201, 0.77) !important;
    color: rgb(6, 6, 6) !important;
    border-color: black !important;
}


.form-pagina {
    width: 300px;
}

.contact-subtitles {
    font-weight: 900;
}

.p-nosotros {
    max-width: 500px;
}

.bg-pagina {
    background-color: #d5d3d35c;
    position: relative;
    padding-bottom: 10rem;
    min-height: 100vh;
}



.text-form {
    text-align: left !important;
    font-size: 1.5rem;
}

.offcanvas {
    width: 250px !important;
    height: 400px !important;
}

.display-1{
    font-family: 'Montserrat', sans-serif, 'Urbanist' !important;
    font-size: 1.5rem;
}

/* @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @       MEDIA QUERIES      @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @*/


/* @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ */
/* @ @ @ @ @ @ @ @ @ @       Estilos para teléfonos extra pequeños                        @ @ @ @ @ @ @ @ @ @ @*/
/* @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ */

@media (max-width: 577px) {
    .nav-link {
        font-size: 1rem !important;
    }

    .contenedor-grid-productos {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
            "prod-1 prod-1 prod-1 prod-1"
            "prod-2 prod-2 prod-2 prod-2"
            "prod-3 prod-3 prod-3 prod-3"
            "prod-4 prod-4 prod-4 prod-4"
        ;
        gap: 20px;


    }

    .contenedor-descripcion {
        display: none;
    }

    .navbar>.container-fluid {
        display: flex;
        flex-wrap: inherit;
        align-items: center;
        justify-content: space-around !important;
    }

    .form-pagina {
        width: 200px;
    }

    .mapa {
        width: 250px;
    }

    .form {
        width: 250px;

    }

    .contenedor-consulta {
        padding: 20px 0 20px 0;
    }
}


/* @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ */
/* @ @ @ @ @ @ @ @ @ @       Estilos para teléfonos pequeños y dispositivos más grandes   @ @ @ @ @ @ @ @ @ @ @*/
/* @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ */


@media (min-width: 578px) and (max-width: 767px) {
    .nav-link {
        font-size: 1rem !important;
    }

    .contenedor-grid-productos {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
            "prod-1 prod-1 prod-2 prod-2"
            "prod-1 prod-1 prod-2 prod-2"
            "prod-3 prod-3 prod-4 prod-4"
            "prod-3 prod-3 prod-4 prod-4"
        ;
        gap: 20px;


    }

    .contenedor-descripcion {
        display: none;
    }

    .navbar>.container-fluid {
        display: flex;
        flex-wrap: inherit;
        align-items: center;
        justify-content: space-around !important;
    }

    .form-pagina {
        width: 200px;
    }

    .mapa {
        width: 350px;
    }

    .form {
        width: 350px;

    }

    .contenedor-consulta {
        padding: 20px 0 20px 0;
    }
}

/* @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ */
/* @ @ @ @ @ @ @ @ @ @            Estilos para tablets y dispositivos más grandes         @ @ @ @ @ @ @ @ @ @ @*/
/* @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ */



@media (min-width: 768px) {
    .nav-link {
        font-size: 1rem !important;
    }

    .navbar>.container-fluid {
        display: flex;
        flex-wrap: inherit;
        align-items: center;
        justify-content: space-around !important;
    }

    .form-pagina {
        width: 500px;
    }

    .carousel-caption {
        position: absolute;
        top: 20px;
        right: 15%;
        left: 15%;
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
        color: #fff;
        text-align: center;
    }


    .mapa {
        width: 380px;
        border-radius: 20px;
    }

    .form {
        width: 380px;
    }

}



/* @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ */
/* @ @ @ @ @ @ @ @ @ @          Estilos dispositivos medianos y escritorios pequeños      @ @ @ @ @ @ @ @ @ @ @*/
/* @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ */


@media (min-width: 992px) {
    .navBar {
        display: flex !important;
        justify-content: space-around !important;
    }

    .nav-link {
        font-size: 1.8rem !important;
    }

    .imagen_logo {
        width: 180px;
    }

    a.nav-link {
        margin-left: 15px;
        margin-right: 15px;
    }

    .col-lg {
        flex: 1 0 0%;
        text-align: center;
        font-size: 3rem;
    }

    .navbar>.container-fluid {
        display: flex;
        flex-wrap: inherit;
        align-items: center;
        justify-content: space-around !important;
    }

    .carousel-caption {
        position: absolute;
        top: 20px;
        right: 15%;
        left: 15%;
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
        color: #fff;
        text-align: center;
    }

    .contenedor-consulta {
        padding-left: 30px !important;
    }

    .contenedor-ubicacion {
        padding-right: 30px !important;
    }

    .mapa {
        width: 350px;
        border-radius: 20px;
    }

    .form {
        width: 350px;
    }

}



/* @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ */
/* @ @ @ @ @ @ @ @ @ @                          Estilos para PCs                          @ @ @ @ @ @ @ @ @ @ @*/
/* @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ */


@media (min-width: 1200px) {
    .contenedor-grid-productos {
        padding-top: 10px;
        padding-bottom: 10px;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
            "prod-1 prod-2 prod-3 prod-4"
            "prod-1 prod-2 prod-3 prod-4"
            "prod-1 prod-2 prod-3 prod-4"
            "prod-1 prod-2 prod-3 prod-4"
        ;
        gap: 10px;
    }

    .navBar {
        display: flex !important;
        justify-content: flex-end !important;
    }

    .nav-link {
        font-size: 2rem !important;
    }

    .imagen_logo {
        width: 200px;
    }

    a.nav-link {
        margin-left: 20px;
        margin-right: 20px;
    }


    .mi-carrousel {
        height: 600px !important;
    }

    .form-pagina {
        width: 800px;
    }

    .carousel-caption {
        position: absolute;
        top: 20px;
        right: 15%;
        left: 15%;
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
        color: #fff;
        text-align: center;
    }

    .contenedor-consulta {
        padding-left: 70px !important;
    }

    .contenedor-ubicacion {
        padding-right: 70px !important;
    }
}